<header>Preguntas</header>
<section>
	<h1><%= quiz.pregunta %></h1>
	<form method="get" action="/quizes/<%= quiz.id %>/answer">
		<input type="text" name="respuesta" placeholder="Responda aquí"/>
		<button type="submit"/>Enviar</button>
	</form>
	<p></p>
	<hr>
	<p></p>
	<a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo Comentario</button></a>
	<p></p>
	<h1>Comentarios:</h1>
	<br>
	<% for(index in quiz.Comments){ %>
		<% if(quiz.Comments[index].publicado || session.user){ %>
			<p class="quiz_comment"><strong><%= quiz.Comments[index].autor %></strong><br><i><%= quiz.Comments[index].texto %></i></p>
			<% if(session.user && !quiz.Comments[index].publicado){ %>
				<div class="comment_actions">
					<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish"><button>Publicar</button></a>
				</div>
			<% } %>
		<% } %>
	<% } %>
</section>
